*.log
*.pot
*.pyc
*.pid
*.json
*.pex
*.DS_Store
.DS_Store
DS_Store
*.pem
*.db
.project
.pydevproject
.idea/*
.container-id
.coverage
dist/*
*.egg-info/
*.iml
*~
venv
env
bin/virtualenv-*
aurproxy-local-test.json
